
    <div class="container  mt-3  w-50  ">
    <div class="text-center mt-3">
        <h3 class="text-primary">{{data}}</h3>
    </div >
       <form [formGroup]="loginForm" (ngSubmit)="login()" action="">
        <div class="container border-light bg-grey">
            <div class="form-outline">
                <input  type="text" id="u1" name="username" class="form-control mt-5 mb-4 w-75" [placeholder]="data1">
            </div>
            <div class="form-outline">
                <input  type="password" id="p1" name="password" class="form-control mb-4 w-75" placeholder="password">
            </div>
            <div class="form-outline">
                <button  type="submit" class="btn btn-primary  gradient-custom-2 w-75">Login</button>
            </div>
            <p class="mt-2 text-white">don't have account?<a style="text-decoration
            :none;" routerLink="register" href="">create a account</a></p>
            <!-- we can also specify register in href attribute too -->
        </div>    
       </form>
    </div>
