
    <div class="container  mt-3  w-50  ">
    <div class="text-center mt-3">
        <h3 class="text-primary">{{data}}</h3>
    </div >
       <form action="">
        <div class="container border-light bg-grey">
            <div class="form-outline">
                <input #acno type="text" id="u1" name="username" class="form-control mt-5 mb-4 w-75" [placeholder]="data1">
            </div>
            <div class="form-outline">
                <input #psw type="password" id="p1" name="password" class="form-control mb-4 w-75" placeholder="password">
            </div>
            <div class="form-outline">
                <button (click)="login(acno,psw)"  type="button" class="btn btn-primary  gradient-custom-2 w-75">Login</button>
            </div>
            <p class="mt-2 text-white">don't have account?<a style="text-decoration
            :none;" href="">create a account</a></p>
        </div>    
       </form>
    </div>
