
    <div class="container  mt-3  w-50  ">
    <div class="text-center mt-3">
        <h3 class="text-primary">{{data}}</h3>
    </div >
       <form action="">
        <div class="container border-light bg-grey">
            <div class="form-outline">
                <input (change)="acnoChange($event)" type="text" id="u1" name="username" class="form-control mt-5 mb-4 w-75" [placeholder]="data1">
            </div>
            <div class="form-outline">
                <input (change)="pswordChange($event)" type="password" id="p1" name="password" class="form-control mb-4 w-75" placeholder="password">
            </div>
            <div class="form-outline">
                <button type="button" (click)="login()" class="btn btn-primary  gradient-custom-2 w-75">Login</button>
            </div>
        </div>    
       </form>
    </div>
